
/ nav.m-2
/   ul.pagination
/     - (0..@total_pages).each do |p|
/       li.page-item 
/         a.page-link href=""
/           = p+1

= paginate @bulletins, params: { q: @q_params }

/ = @page
/ = @total_pages